altgraph==0.17
appdirs==1.4.4
auto-py-to-exe==2.9.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
distlib==0.3.2
Eel==0.12.4
filelock==3.0.12
Flask==2.0.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.20.3
pipenv==2021.5.29
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
python-dotenv==0.17.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sklearn==0.0
threadpoolctl==2.1.0
urllib3==1.26.5
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==2.0.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
