<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Farmer's Best Friend</title>
</head>

<body>
    <header>
        <div class="header_main">
            <h1 class="heading">Crop Prediction</h1>
            <div class="navdiv">
                <nav class="navbar">
                    <ul class="navlist">
                        <li><a href="#">Home</a></li>
                        <li><a href="/crop">Crop Prediction</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="back-image">
            <p class="quote">Best wishes to all the farmers around the world who work on acres to eat happily in our home.
            </p>
        </div>
    </header>

</body>

</html>